.users {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 20px;
  justify-content: center;

  align-items: center;
  max-width: 1208px;
  margin: 100px auto;
  height: 100%;
  padding: 20px 0;


  &__user {
    height: 230px;
    border-radius: 10px;
    animation: animateUser 2s;
    overflow: hidden;
    color: grey;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

    &__image {
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
    }

    &__title {
      padding-top: 10px;

      &::first-letter {
        text-transform: uppercase;
      }
    }


    @keyframes animateUser {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }


}


